/* Start Global Rules */

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

:root {
	--cyan: #19c8fa;
	--gray: #777777;
	--black: #000000;
	--transparent-blue: rgb(15 116 143 / 60%); 
	--container: 85%;
}

.container {
	width: var(--container);
	margin: auto;
}

.flex-element {
	display: flex;
	justify-content: center;
	align-items: center;
}

.title-div {
	flex-direction: column;
	row-gap: 20px;
	padding-bottom: 70px;
}

.title-div h1 {
	font-weight: 400;
	margin: 0px;
	text-transform: uppercase;
	font-size: 2.5rem;
}

.title-div span hr {
	width: 100px;
	border: 1px solid #000;
}

.title-div span {
	position: relative;
}

.title-div span::after {
	content: "";
	display: block;
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #fff;
	border: 2px solid #000;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.title-div p {
	color: var(--gray);
	max-width: 600px;
	text-align: center;
	line-height: 2;
}

/* End Global Rules */

/*Start Main Page*/
body {
	font-family: "Open sans", sans-serif;
}

main {
	height: 100vh;
	width: 100%;
	position: relative;
	background-size: cover;
}

main .background-img {
	background: url("../images/landing.webp") no-repeat top center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	filter: brightness(35%);
	z-index: -1;
	overflow: hidden;
}

main header .container {
	height: 12vh;
	padding: 20px 0px;
	justify-content: space-between;
	border-bottom: #fff 1px solid; 
	position: relative;
}

header .nav-bar {
	column-gap: 30px;
}

header .nav-bar nav {
	justify-content: flex-end;
	color: #fff;
}

header nav ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

header nav ul li {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

header nav ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 0.9rem;
}

header .search-icon {
	font-size: 1.2rem;
	padding: 5px 0px 5px 1.3rem;
	color: #fff;
	border-left: solid #fff 1px;
}

section.slider {
	height: 88vh;
	width: 100%;
}

section.slider div.content {
	width: 50%;
	background-color: var(--transparent-blue);
	color: #fff;
	line-height: 1.5;
	padding: 40px 50px 40px 10vw;
	position: absolute;
	top: 50%;
	left: 0px;
	transform: translateY(-50%);
	text-align: left;
	z-index: -1;
}

section.slider div.content h1 {
	font-weight: 500;
}

section.slider div.content p {
	line-height: 2rem;
	font-size: 0.9rem;
}

section.slider > span {
	color: #fff;
	position: absolute;
}

section.slider > span.next {
	top: 50%;
	right: 40px;
	transform: translateY(-50%);
}

section.slider > span.prev {
	top: 50%;
	left: 40px;
	transform: translateY(-50%);
}

section.slider .active-slider {
	column-gap: 20px;
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
}

section.slider .active-slider span {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid #fff;
}

section.slider .active-slider span:nth-child(2) {
	background-color: var(--cyan);
	border: none;
}
/*End Main Page*/

/*Start Services Section */
section.services {
	width: 100%;
	background-color: #fff;
	padding: 70px 0px;
}

section.services .services-content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-gap: 40px;
	margin-bottom: 70px;
}

section.services .services-content .service {
	align-items: flex-start;
	justify-content: space-between;
	column-gap: 40px;
	row-gap: 30px;
}

section.services .services-content .service h2 {
	margin: 0px;
	color: var(--cyan);
	font-size: 1.2rem;
	margin-bottom: 30px;
}

section.services .services-content .service p {
	line-height: 2;
	color: var(--gray);
}

section.services .features {
	height: 80vh;
	width: 100%;
	color: #fff;
	position: relative;
	overflow: hidden;
}

section.services .features .feat-bg-img {
	background: url("../images/design-features.webp") no-repeat top center;
	background-size: cover;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	filter: brightness(35%);
}

section.services .features > img {
	position: absolute;
	bottom: 0px;
	left: 10%;
	transform: translateY(20%);
}

section.services .content {
	background-color: var(--transparent-blue);
	position: absolute;
	top: 50%;
	right: 0px;
	transform: translateY(-50%);
	padding: 50px 0px 50px 40px;
	width: 50%;
}

section.services .content h2 {
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 2;
}

section.services .content span {
	padding: 0px;
	line-height: 3;
	display: flex;
	column-gap: 20px;
}
/*End Services Section*/
/*Start Of Portfolio Section*/
section.portfolio {
	width: 100%;
	background-color: #fff;
}

section.portfolio .projects-div .filter {
	column-gap: 10px;
	row-gap: 20px;
	flex-wrap: wrap;
	margin: 0px 20px; 
}

section.portfolio .projects-div .filter span {
	padding: 10px;
	cursor: pointer;
}

section.portfolio .projects-div .filter span:nth-child(1) {
	background-color: var(--cyan);
	color: #fff;
}

section.portfolio .projects-div {
	flex-direction: column;
	row-gap: 40px;
	justify-content: flex-start;
}

section.portfolio .projects-div .projects {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	width: 100%;
}

section.portfolio .projects-div .projects .project {
	position: relative;
	overflow: hidden;
}

section.portfolio .projects-div .projects .project:hover > img {
	transform: rotate(5deg) scale(1.2);
}

section.portfolio .projects-div .projects .project img {
	transition: 0.7s all ease;
	width: 100%;
	height: auto;
}

section.portfolio .projects-div .projects .project .project-info {
	background-color: #fff;
	display: block;
	width: 100%;
	padding: 10px 0px 10px 20px;
	line-height: 1.7;
	position: absolute;
	bottom: 0px;
	transform: translateY(100%);
	transition: 0.4s all ease;
}

section.portfolio .projects-div .projects .project:hover > .project-info {
	transform: translateY(0%);
}

section.portfolio .projects-div .projects .project .project-info h3 {
	margin: 0px;
	font-weight: 400;
	font-size: 1rem;
}

section.portfolio .projects-div .projects .project .project-info span {
	color: var(--cyan);
}

section.portfolio .projects-div button {
	background-color: var(--cyan);
	padding: 10px 20px;
	color: #fff;
	border: none;
	min-width: 70px;
	cursor: pointer;
}

section.portfolio .video-section {
	margin-top: 10vh;
	position: relative;
}

section.portfolio .video-section video {
	filter: brightness(70%);
}

section.portfolio .video-section .video-content {
	background-color: var(--transparent-blue);
	width: 100%;
    max-height: 100%;
    flex-direction: column;
    row-gap: 30px;
    padding: 50px 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    text-align: center;
}

section.portfolio .video-section .video-content h2 {
	margin: 0px;
	font-weight: 400;
}

section.portfolio .video-section .video-content button {
	background-color: #000;
	padding: 10px 20px;
	color: #fff;
	border: none;
	min-width: 70px;
	cursor: pointer; 
}
/*End Of Portfolio Section*/
/*Start Of About Us Section*/
section.about-us {
	background-color: #fff;
	width: 100%;
	padding: 70px 0px;
}

section.about-us div.stats {
	padding: 80px 0px;
	margin-top: 150px;
	width: 100%;
	background: url("../images/stats.webp") no-repeat top center;
	background-size: cover;
	position: relative;
	z-index: 200;
}

section.about-us .container {
	position: relative;
}

section.about-us .container img.about-img {
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translate(-50%, 100%);
	z-index: 100;
	min-width: 300px;
	max-width: 80%;
	height: auto;
}

section.about-us div.stats .stats-content {
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: var(--transparent-blue);
	width: 80%;
}

section.about-us div.stats .stats-content .box {
	flex-direction: column;
	row-gap: 20px;
	padding: 40px;
	color: #fff;
}

section.about-us div.stats .stats-content .box i {
	font-size: 1rem;
	padding: 15px;
	background-color: #000;
	border-radius: 50%;
}

section.about-us div.stats .stats-content .box span {
	font-weight: 700;
	font-size: 2.5rem;
}

section.about-us div.stats .stats-content .box p {
	font-size: 0.9rem;
	margin: 0px;
	text-align: center;
}

section.about-us .testimonials-skills {
	width: 100%;
	margin-top: 70px;
}

section.about-us .testimonials-skills .container {
	display: grid;
	grid-gap: 10%;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	align-items: flex-start;
}

section.about-us .testimonials-skills .container > div {
	flex-direction: column;
	text-align: center;
}

section.about-us .testimonials-skills .container > div h3 {
	font-weight: 400;
	text-transform: uppercase;
}

section.about-us .testimonials-skills .container > div p {
	color: var(--gray);
	line-height: 2;
}

section.about-us .testimonials-skills .testimonials .reviews {
	flex-direction: column;
	row-gap: 50px;
	align-self: flex-start;
	padding: 20px 0px;
}

section.about-us .testimonials-skills .testimonials .reviews > div.user {
	column-gap: 40px;
	position: relative;
}

section.about-us .testimonials-skills .testimonials .reviews > div.user img {
	max-width: 100px;
	border-radius: 50%;
}

section.about-us .testimonials-skills .testimonials .reviews > div.user p {
	text-align: left;
	padding-bottom: 40px;
	border-bottom: #ddd 1px solid;
	color: #000;
}

section.about-us .testimonials-skills .testimonials .reviews > div.user span {
	position: absolute;
	color: var(--gray);
	right: 0px;
	bottom: 30px;
	font-size: 0.9rem;
}

section.about-us .testimonials-skills .testimonials .reviews .active-review span {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #fff;
	border: 1px solid var(--gray);
}

section.about-us .testimonials-skills .testimonials .reviews .active-review span:nth-child(2) {
	background-color: var(--cyan);
	border: none;
}

section.about-us .testimonials-skills .skills .skills-stats {
	flex-direction: column;
	row-gap: 30px;
	align-self: flex-start;
	padding: 20px 0px;
	width: 100%;
}

section.about-us .testimonials-skills .skills .skills-stats > div {
	text-align: left;
	width: 100%;
}

section.about-us .testimonials-skills .skills .skills-stats > div .level {
	width: 100%;
	height: 40px;
	background-color: #ddd;
	margin: 10px 0px 20px 0px;
	position: relative;
}

section.about-us .testimonials-skills .skills .skills-stats > div .level::after {
	content: "";
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: var(--cyan);
}

section.about-us .testimonials-skills .skills .skills-stats > div.adobe .level::after {
	width: 90%;
}

section.about-us .testimonials-skills .skills .skills-stats > div.html-css .level::after {
	width: 85%;
}

section.about-us .testimonials-skills .skills .skills-stats > div.javascript .level::after {
	width: 80%;
}

section.about-us .testimonials-skills .skills .skills-stats > div.php .level::after {
	width: 90%;
}

section.about-us .testimonials-skills .skills .skills-stats > div .level .percentage {
	background-color: #000;
	color: #fff;
	padding: 5px;
	border-radius: 4px;
	position: absolute;
	top: -20px;
	transform: translateY(-100%);
}

section.about-us .testimonials-skills .skills .skills-stats > div.adobe .level .percentage {
	left: 90%;
	transform: translate(-50%, -100%);
}

section.about-us .testimonials-skills .skills .skills-stats > div.html-css .level .percentage {
	left: 85%;
	transform: translate(-50%, -100%);
}

section.about-us .testimonials-skills .skills .skills-stats > div.javascript .level .percentage {
	left: 80%;
	transform: translate(-50%, -100%);
}

section.about-us .testimonials-skills .skills .skills-stats > div.php .level .percentage {
	left: 90%;
	transform: translate(-50%, -100%);
}

section.about-us .about-us-img {
	width: 100%;
	min-height: 200px;
	position: relative;
	overflow: hidden;
	margin-top: 80px;
}

section.about-us .about-us-img img {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	filter: brightness(35%);
}

section.about-us .about-us-img .text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	text-align: center;
}

section.about-us .about-us-img .text p {
	font-size: 1.5rem;
	line-height: 2;
}
/*End Of About Us Section*/
/*Start Of Pricing Section*/
section.pricing .plans .container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 20px;
}

section.pricing .plans .container .plan {
	text-align: center;
	background-color: #fcfcfc;
}

section.pricing .plans .container .plan .plan-type {
	padding: 30px;
	border-top: var(--cyan) 1px solid;
	text-align: center;
}

section.pricing .plans .container .plan .plan-type h4 {
	font-weight: 400;
	margin: 0px;
	font-size: 1.2rem;
	margin: 20px 0px;
}

section.pricing .plans .container .plan .plan-type p {
	font-size: 3.5rem;
	font-weight: 700;
	margin: 20px auto;
	position: relative;
	width: fit-content;
}

section.pricing .plans .container .plan .plan-type p::after {
	content: "$";
	position: absolute;
	top: 0px;
	left: 0px;
	transform: translateX(-120%);
	color: #000;
	font-size: 2rem;
	font-weight: 400;
}

section.pricing .plans .container .plan .plan-type p::before {
	content: "/MO";
	position: absolute;
	bottom: 10px;
	right: 0px;
	transform: translateX(120%);
	color: #000;
	font-size: 1rem;
	font-weight: 700;
}

section.pricing .plans .container .plan .features {
	padding: 0px 60px;
	border-top: 1px var(--cyan) solid;
	border-bottom: 1px var(--cyan) solid;
}

section.pricing .plans .container .plan .features span {
	display: block;
	padding: 20px 0px;
	border-bottom: 1px solid var(--cyan);
}

section.pricing .plans .container .plan .features span:last-child {
	border-bottom: none;
}

section.pricing .plans .container .plan button {
	padding: 25px;
	border: 1px var(--cyan) solid;
	color: purple;
	background-color: transparent;
	margin: 30px auto;
	cursor: pointer;
	transition: 0.7s ease all;
}

section.pricing .plans .container .plan button:hover {
	color: #fcfcfc;
	background-color: var(--cyan);
}

section.pricing .contact-us {
	margin: 35px auto;
	width: fit-content;
	text-align: center;
}

section.pricing .contact-us p {
	font-size: 1.2rem;
	line-height: 2;
}

section.pricing .contact-us button {
	margin: 10px auto;
	padding: 15px 25px;
	color: #fcfcfc;
	background-color: var(--cyan);
	cursor: pointer;
	transition: 0.7s ease all;
	border: none;
}

section.pricing .contact-us button:hover {
	color: var(--cyan);
	background-color: #fcfcfc;
	border: 1px var(--cyan) solid;
}
/*End Of Pricing Section*/



/*Start Media Queries*/
@media (max-width: 800px) {
	nav .menu-icon {
		display: inline-block !important;
	}
	main header .container nav > ul {
		background-color: rgb(0 0 0 / 60%);
		width: 100%;
		flex-direction: column;
		position: absolute;
		top: 12vh;
		left: 0px;
		align-items: flex-start;
		display: none;
	}
	nav:hover ul {
		display: block !important;
	}
	header nav ul li a {
		margin-left: 20px;
	}
	header nav ul li:nth-child(1) a {
		color: var(--cyan);
	}
	header nav ul li {
		width: 100%;
		padding: 15px 0px;
		margin: 0px;
	}
	header nav ul li:nth-child(1) {
		border-bottom: 1px var(--cyan) solid;
	}
	section.slider div.content {
		width: 100%;
	}
	section.slider > span {
		display: none;
	}
	section.services .services-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 30px;
	}
	section.services .services-content .service {
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		text-align: center;
	}
	section.services .content {
		width: 100%;
	}
	section.services .features > img {
		display: none;
	}
	section.services .content h2 {
		font-size: 1.2rem;
	}
	section.about-us .testimonials-skills .container {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 50px;
	}
	section.about-us .testimonials-skills .testimonials .reviews > div.user {
		flex-direction: column;
	}
	section.about-us .testimonials-skills .testimonials .reviews > div.user p {
		text-align: center;
	}
	section.about-us .about-us-img .text p {
		font-size: 1rem;
	}
}

